    <!--<section *ngIf="navbarItems">
        <nav-bar [navbarItems]="navbarItems"></nav-bar>
    </section>-->
<div>
         
            <div *ngIf="data">
                <h2>{{ data.contact.first_name }}&nbsp; {{ data.contact.last_name }}</h2>
                <div *ngIf="data.contact.mobile_phone"><span>mobile:&nbsp;</span>{{ data.contact.mobile_phone }}</div>
                <div *ngIf="data.contact.work_phone"><span>work:&nbsp;</span>{{ data.contact.work_phone }}</div>
                <br />
                <div *ngIf="data.contact.address_line_1">{{ data.contact.address_line_1 }}</div>
                <div *ngIf="data.contact.city">{{ data.contact.city }}</div>
                <div>
                    <span *ngIf="data.contact.state">{{ data.contact.state }}</span>
                    <span *ngIf="data.contact.postal_code">&nbsp;{{ data.contact.postal_code }}</span>
                    <span *ngIf="data.contact.country">&nbsp;{{ data.contact.country }}</span>
                </div>
            </div>


</div>